ACTION!="add", GOTO="razer_end"
SUBSYSTEMS=="usb|input|hid", ATTRS{idVendor}=="1044", GOTO="razer_vendor"
GOTO="razer_end"

LABEL="razer_vendor"

# Keyboards
ATTRS{idProduct}=="7A39", \
    ATTRS{idVendor}=="1044", \
    ENV{RAZER_DRIVER}="aero15kbd_driver"

# Get out if no match
GOTO="razer_end"

# Set permissions if this is an input node
SUBSYSTEM=="input|hid", GROUP:="plugdev"

# We're done unless it's the hid node
SUBSYSTEM!="hid", GOTO="razer_end"

# Rebind if needed
SUBSYSTEM=="hid", RUN+="razer_mount $env{RAZER_DRIVER} $kernel"

LABEL="razer_end"
